@import url(data/fonts/segoe-ui/index.scss);

:root {
  --warning-color: #c21313;
  --body-color: #fff;

  /* Акценты */
  --blue-color: #1332c5;

  /* Таблицы */
  --head-back: #ededed;
  --border-color: #ddd;
  --grey-back-odd: #fff;
  --grey-back-even: #f8f8f8;

  /* Переключатель */
  --switch-background: #F8F8F8;

  /* Кнопки */
  --accept-btn: #5592b0;
  --cancel-btn: #8d273d;
  --green-btn: #399c35;
  --gray-btn: #F0F0F0FF;

  /* Текст */
  --dark-text: #333;
  --gray-text: #555;
  --white-text: #FFF;

  /* Инпут */
  --input-focus: #a3c6da;
}

html {
  font-size: 10px;
}


body {
  margin: 0;
  font-family: 'Segoe UI', serif;
  color: var(--dark-text);
  font-size: 1.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  cursor: pointer;
}

.ant-modal-content {
  padding: 0!important;
}

.img-crop-modal .ant-modal-content {
  padding: 1rem !important;
}