.navbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0 2rem 0 5rem;
  background-color: #EDEDED;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
}

.user {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.userName {
  height: 3rem;
  line-height: 3rem;
  font-weight: 600;
}