.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.form {
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.label {
  font-weight: 600;
}

.button {
  margin: .5rem auto auto auto;
  width: 10rem;
}