.item {
    border-right: .1rem solid var(--border-color);
    border-top: .1rem solid var(--border-color);
    word-break: break-word;
    height: 2.8rem;
    line-height: 2.8rem;
    padding-left: 1rem;
}