.item-head_start {
    height: 3.7rem;
    line-height: 3.7rem;
    border-right: none;
    background-color: var(--head-back);
    border-top-left-radius: 1rem;
    border-left: 1px solid var(--border-color);
}