.item-head {
    height: 3.7rem;
    line-height: 3.7rem;
    word-break: break-word;
    padding-left: 1rem;
    border-right: none;
    font-weight: 600;
    font-size: 1.7rem;
    border-top: 1px solid;
    background-color: var(--head-back);
    border-color: var(--border-color);
}